@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 80px;
  overflow-y: scroll;
  //font-family: "Source Serif 4", sans-serif;
}

body.dark, body.dark .dark-bg {
  background-color: #21252d;
  color: white;
}

.dark-bg-in-light {
  background-color: #21252d;
  color: white;
}