@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  overflow-y: scroll;
}

header {
  height: 66px;
}

main {
  position: relative;
  height: calc(100vh - 66px);
  padding-bottom: 60px;
}

body.dark, body.dark .dark-bg {
  background-color: #21252d;
  color: white;
}

.dark-bg-in-light {
  background-color: #21252d;
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    height: 122px;
  }

  main {
    height: calc(100% + 122px);
  }
}