@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: #F6F6F6;
  color: #212121;
}

header {
  height: 66px;
  background-color: #a1c8e5;
}

main {
  position: relative;
  min-height: calc(100vh - 66px);
  padding-bottom: 60px;
}

.no-scroll-height {
  height: calc(100vh - 66px - 60px);
}

body.dark header {
  background-color: #306376;
}

body.dark, body.dark .dark-bg {
  background-color: #212121;
  color: #F6F6F6;
}

.dark-bg-in-light {
  background-color: #212121;
  color: #F6F6F6;
}


@layer components {
  blockquote {
    @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800;
  }

  .content-with-colorful-links {
    a {
      @apply text-[#3e3e3e] dark:text-[#c1c1c1]
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 122px;
  }

  main {
    min-height: calc(100vh - 122px);
  }

  .no-scroll-height {
    height: calc(100vh - 122px - 60px);
  }
}
