@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  overflow-y: scroll;
}

header {
  height: 66px;
}

main {
  position: relative;
  height: calc(100% - 66px);
}

body.dark, body.dark .dark-bg {
  background-color: #21252d;
  color: white;
}

.dark-bg-in-light {
  background-color: #21252d;
  color: white;
}