.content {
  @apply max-w-[680px] mx-auto break-words;
  font-size: 1.075rem;
  font-family: sans-serif;

  h2 {
    @apply text-2xl md:text-3xl font-bold mb-6 pb-2 pt-2;
    border-bottom: 1px solid;
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold mb-4;
  }

  & > p {
    @apply mb-4 whitespace-pre-line;
  }

  & > div {
    @apply mb-4
  }

  ol {
    @apply list-decimal list-inside mb-4;

    li {
      @apply mb-1;
    }
  }

  ul {
    @apply mb-4;

    li {
      @apply mt-1;
    }
  }

  img {
    @apply mx-auto mb-4;
  }

  a {
    @apply underline;
  }
}

.title {
  @apply text-4xl font-bold text-center my-8
}


@media screen and (max-width: 768px) {
  .content {
    font-size: 1rem;
    padding: 0 8px;
  }
}
